<!--/*.messageを部分更新。appendメソッドで//「：message」の後に引数のテキストを追加 */-->
$('.message').append("<p style='text-align: right;'><%= @chat.message %></p>");

<!--/*チャット投稿後、フォームの値に前回の投稿内容が残らないようにする */-->
$('input[type=text]').val("")